* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-1 {
    display:inline;
    padding:20px;
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.menu {
    float: right;
}

.item {
    display: inline;
    float: right;
    padding: 20px;
}

.header h1 {
    display: inline-block;
}

/* Nav Bar */
