/* Variables */
:root {
    --snow: #fbf5f3ff;
    --sonic-silver: #757780ff;
    --pansy-purple: #82204aff;
    --rich-black-fogra-39: #030301ff;
    --olivine: #95b46aff;
    --flex-basis-left: 0 0 15%;
    --flex-basis-right: 0 0 85%;
}

header {
    background-color: var(--rich-black-fogra-39);
    padding: 20px;
    color: var(--snow);
    width: 100%;
    height: auto;
}

header h1 {
    display: inline-block;
    font-size: 54px;
    background-color: var(--pansy-purple);
    color:var(--snow);
}

.name-header {
    font-family: 'Source Code Pro', monospace;
}

.hero-img {
    width: 100%;
    height: 20rem;
    margin-bottom: 25px;
    background-size: cover;
    background-image: url("../assets/portfolio-hero-image1.jpeg");
    position: relative;
}

#portfolio-image {
    position: absolute;
    width: 150px;
    height: auto;
    border-radius: 50%;
    top: 1rem;
    left: 2.5rem;
}

#cool-subtitle {
    position: absolute;
    right: 1.5rem;
    bottom: .5rem;
    background-color: var(--pansy-purple);
    font-family: 'Source Code Pro', monospace;
    color: var(--snow)

}

/* Nav Bar */

.nav {
    padding-top: 1.5rem;
    margin-right: 2rem;
    float: right;
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
}

.nav a {
    color: var(--snow) !important;
}

.nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 25px;
  text-transform: uppercase;
background-color:var(--pansy-purple);
}

/* About Me Section */

.aboutme-work {
    display: flex;
    flex-direction: row;
    flex: var(--flex-basis-left);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.aboutme-work h2 {
    padding: 0 2rem;
    float: left;
    font-family: 'Source Code Pro', monospace;

}

#about-me {
    color: var(--rich-black-fogra-39)
}

.left-side {
    flex: var(--flex-basis-left);
    text-align: right;
    align-items: center;
    border-right: var(--pansy-purple) solid 3px;
}

.right-side {
    margin-left: 14rem;
    /* border-left: var(--pansy-purple) solid 3px; */
    font-family: 'Source Code Pro', monospace;
     
}

/* Work Section */

.project-link {
    font-family: 'Source Code Pro', monospace;
}

div .left-side {
    flex: var(--flex-basis-right);
}

#work {
    padding-left: 3.57rem;
}

h2 .left-side {
    display: flex;
    flex-direction: column;
    flex: var(--flex-basis-left);
    justify-content: left;
}

.left-side {
    /* border-left: black solid 2px; */
    display: flex;
    flex-direction: column;
    flex: var(--flex-basis-left);
    justify-content: center;
    /* margin: 10px 0; */
}

#small-work-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#small-work-parent .img-box {
    display: inline;
    flex-wrap: wrap;
    height: auto;
    flex-basis: 40%;
    opacity: .5;
    margin: .5rem;
    padding: 0;
    border: solid 3px var(--pansy-purple);
}

#small-work-parent .img-box:hover {
    opacity: 1.5;
    cursor: pointer;
}

.img-boxes {
    width: 300px;
    height: auto;
}

.sml-one {
    position: relative;
}

.sml-two {
    position: relative;
}

.sml-one > #img-name1 {
    position: absolute;
    bottom: 2rem;
    background-color: var(--pansy-purple);
    color: var(--rich-black-fogra-39);
    padding: 1rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

.sml-two > #img-name2 {
    position: absolute;
    bottom: 2rem;
    background-color: var(--pansy-purple);
    color: var(--rich-black-fogra-39);
    padding: 1rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

#img-name-1 {
    font-family: 'Source Code Pro', monospace;
}

#img-name-2 {
    font-family: 'Source Code Pro', monospace;
}

/* Contact Me Section */

.conlinks {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    flex: var(--flex-basis-right);
}

.conlinks ul li {
    display: inline-block;
    
    list-style-type: none;
    text-transform: uppercase;
}


